### EDA on shops and restaurants dataframes

In [10]:
import pandas as pd
from IPython.display import display

In [11]:
df_rest = pd.read_csv('data/paris_restaurants.csv')
df_shop = pd.read_csv('data/paris_shops.csv')

display(df_rest.head(), df_shop.head())

,name,lat,lng,rating,types
0,Franprix,48.819864,2.228467,2.9,"['supermarket', 'convenience_store', 'liquor_s..."
1,Carrefour City,48.815074,2.234314,3.6,"['supermarket', 'grocery_or_supermarket', 'bak..."
2,Olivia,48.814881,2.234074,4.4,"['meal_takeaway', 'restaurant', 'food', 'point..."
3,Crêperie Le Belem,48.814956,2.234726,4.5,"['bar', 'meal_takeaway', 'restaurant', 'food',..."
4,Brasserie Les Tilleuls Cafe Presse,48.814537,2.234823,3.6,"['restaurant', 'food', 'point_of_interest', 'e..."

,name,lat,lng,rating,types
0,Jeux Sylvie de Soye,48.814817,2.228535,5.0,"['point_of_interest', 'store', 'establishment']"
1,Isolespace,48.816069,2.225196,4.7,"['locksmith', 'point_of_interest', 'store', 'e..."
2,Polina Couture,48.816039,2.226421,5.0,"['point_of_interest', 'store', 'establishment']"
3,During Piano Meudon Rosato Sebastien,48.815129,2.221453,5.0,"['school', 'point_of_interest', 'store', 'esta..."
4,Aloe Vera FOREVER Gel - Distributeur officiel,48.817155,2.226967,NaN,"['food', 'point_of_interest', 'health', 'store..."

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report